@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="display: none">
    <h1>Explore Global</h1>
    <p class="lead">Welcome to Explore Global Limited, a well-established  destination management company based in the heart of London.</p>
    <p><a href="http://www.exploreglobal.com" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <ul>
        <li>@Html.ActionLink("List of Hotels", "List", "Hotel", null, new { @class = "lnk" })</li>
        <li>@Html.ActionLink("Insert Hotel", "Insert", "Hotel", null, new { @class = "lnk" })</li>
        
        
        <li>@Html.ActionLink("List of Countries", "List", "Country", null, new { @class = "lnk" })</li>
        <li>@Html.ActionLink("Insert Country", "Insert", "Country", null, new { @class = "lnk" })</li>
        
        
        <li>@Html.ActionLink("List of Cities", "List", "City", null, new { @class = "lnk" })</li>
        <li>@Html.ActionLink("Insert Cities", "Insert", "City", null, new { @class = "lnk" })</li>

    </ul>
</div>