@model ExploreGobal.Business.Domain.Entities.Hotel

@{
    ViewBag.Title = "Insert";
}

<h2>Insert</h2>

@using (Html.BeginForm("Insert", "Hotel", FormMethod.Post, new { @class = "", role = "form" }))
{
    @Html.HiddenFor(x => x.Id)

    <div class="form-group">
        @Html.LabelFor(x => x.Name, "Hotel Name")
        @Html.TextAreaFor(x => x.Name, new { @class = "form-control", placeholder = "enter name" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.ShortDescription, "Description")
        @Html.TextAreaFor(x => x.ShortDescription, new { @class = "form-control", placeholder = "enter some description" })
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
}